
.DS_Store

*.xccheckout

*.xccheckout

*.xcscheme

*.xcbkptlist

*.xcsettings

*.xcuserstate

ICETutorial.xcodeproj/xcuserdata/patrick.trillsam.xcuserdatad/xcschemes/xcschememanagement.plist

ICETutorial.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/ICETutorial.xcscheme

ICETutorial.xcodeproj/project.xcworkspace/xcshareddata/ICETutorial.xccheckout

ICETutorial.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/ICETutorial.xcscheme

ICETutorial.xcodeproj/project.xcworkspace/xcuserdata/patrick.xcuserdatad/WorkspaceSettings.xcsettings

ICETutorial.xcodeproj/xcuserdata/patrick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ICETutorial.xcodeproj/xcuserdata/patrick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ICETutorial.xcodeproj/xcuserdata/patrick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
